.puzzle-editor {
  position: relative;
}

.puzzle-editor .hint-menu {
  background-color: lightgrey;
  color: #000;
  border-radius: 6px;
  padding: 5px 5px;

  position: absolute;
  margin-top: 16px;
  transform: translateX(-50%);
  z-index: 1;
}

.puzzle-editor .hint-menu input[type="radio"] {
  margin-left: 4px;
  margin-right: 2px;
}

.puzzle-editor .hint-menu input[type="number"] {
  width: 66px;
  height: 34px;
  margin-right: 4px;
}

.puzzle-editor .hint-menu button {
  margin-right: 4px;
}

.puzzle-editor .hint-menu::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent lightgrey transparent;
}