<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Puzzle Editor</h1>
</div>

<div class="col">
<div class="card shadow h-100 py-2">
<div class="card-body">
  <div class="puzzle-editor">
    <canvas #canvasbg [width]="canvasWidth" [height]="canvasHeight"></canvas>
    <div class="hint-menu" *ngIf="menuActive" [style.left]="menuPositionX" [style.top]="menuPositionY">
      <input type="radio" id="black" name="color" [(ngModel)]="editColor" value="black" />
      <label for="black">Black</label>
      <input type="radio" id="white" name="color" [(ngModel)]="editColor" value="white" />
      <label for="white">White</label>
      <input type="radio" id="grey" name="color" [(ngModel)]="editColor" value="grey" />
      <label for="grey">Grey</label>
      <input type="radio" id="nocolor" name="color" [(ngModel)]="editColor" value="nocolor" />
      <label for="nocolor">None</label>
      <br>
      <input type="radio" name="direction" id="left" [(ngModel)]="editDirection" value="left" />
      <label for="left">Left</label>
      <input type="radio" name="direction" id="up" [(ngModel)]="editDirection" value="up" />
      <label for="up">Up</label>
      <input type="radio" name="direction" id="right" [(ngModel)]="editDirection" value="right" />
      <label for="right">Right</label>
      <input type="radio" name="direction" id="down" [(ngModel)]="editDirection" value="down" />
      <label for="down">Down</label>
      <input type="radio" name="direction" id="nodirection" [(ngModel)]="editDirection" value="nodirection" />
      <label for="nodirection">None</label>
      <br>
      <input type="number" #walls id="walls" value="0" min="0" max="10" />
      <label for="walls">Walls</label>
      <br>
      <button (click)="addHint(+walls.value)">Add</button>
      <button (click)="closeHintMenu()">Cancel</button>
    </div>
  </div>
</div>
</div>
<br>

<div class="row">
<div class="col-xl-3 col-md-6 mb-4">
<div class="card shadow h-100 py-2">
<div class="card-body">
  <table>
    <tr>
      <td><label for="title">Title</label></td>
      <td><input #puzzleTitle id="title" value="" /></td>
    </tr>
    <tr>
      <td><label for="width">Width</label></td>
      <td><input type="number" id="width" [(ngModel)]="editWidth" value="10" min="2" (change)="updateWidth()" /></td>
    </tr>
    <tr>
      <td><label for="height">Height</label></td>
      <td><input type="number" id="height" [(ngModel)]="editHeight" value="10" min="2" (change)="updateHeight()" /></td>
    </tr>
  </table>
</div>
</div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
<div class="card shadow h-100 py-2">
<div class="card-body">
  <button *ngIf="checkStatus == 'edit'" class="btn btn-icon-split btn-primary" (click)="add(puzzleTitle.value); puzzleTitle.value='';">
    <span class="icon"><i class="fas fa-cloud-upload-alt"></i></span>
    <span class="text">Upload Puzzle</span>
  </button>
  <button *ngIf="checkStatus == 'progress'" class="btn btn-icon-split btn-secondary">
    <span class="icon"><i class="fas fa-spinner"></i></span>
    <span class="text">Checking solvability of puzzle...</span>
  </button>
  <button *ngIf="checkStatus == 'unique'" class="btn btn-icon-split btn-success">
    <span class="icon"><i class="fas fa-check"></i></span>
    <span class="text">Puzzle has unique solution</span>
  </button>
  <button *ngIf="checkStatus == 'impossible'" class="btn btn-icon-split btn-danger">
    <span class="icon"><i class="fas fa-times"></i></span>
    <span class="text">Puzzle does not have a solution</span>
  </button>
  <button *ngIf="checkStatus == 'ambiguous'" class="btn btn-icon-split btn-danger">
    <span class="icon"><i class="fas fa-times"></i></span>
    <span class="text">Puzzle has multiple solutions</span>
  </button>
  <br><br>
  <a class="btn btn-icon-split btn-primary" [href]="puzzleDownload" download="puzzle.json">
    <span class="icon"><i class="fas fa-download"></i></span>
    <span class="text">
      Save Puzzle
    </span>
  </a>
</div>
</div>
</div>
</div>
</div>