<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{puzzleTitle}}</h1>
</div>

<div class="col">
<div class="card shadow h-100 py-2">
<div class="card-body">
  <canvas #canvasbg [width]="canvasWidth" [height]="canvasHeight"></canvas>
</div>
</div>
<br>

<div class="row">
<div class="col-xl-3 col-md-6 mb-4">
<div class="card shadow h-100 py-2">
<div class="card-body">
  <button class="btn btn-icon-split btn-primary" (click)="checkBtn()">
    <span class="icon"><i class="fas fa-check"></i></span>
    <span class="text">Check</span>
  </button>
  <br><br>
  <a class="btn btn-icon-split btn-primary" routerLink="/editor/{{puzzleId}}">
    <span class="icon"><i class="fas fa-edit"></i></span>
    <span class="text">Edit</span>
  </a>
</div>
</div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
<div class="card shadow h-100 py-2">
<div class="card-body">
  <input type="file" #puzzleFile (change)="loadFile(puzzleFile.files[0])" style="display: none"/>
  <button class="btn btn-icon-split btn-primary" (click)="puzzleFile.click()">
    <span class="icon"><i class="fas fa-upload"></i></span>
    <span class="text">Load puzzle file</span>
  </button>
  <br><br>
  <input type="file" #wallsFile (change)="loadWalls(wallsFile.files[0])" style="display: none"/>
  <button class="btn btn-icon-split btn-primary" (click)="wallsFile.click()">
    <span class="icon"><i class="fas fa-border-style"></i></span>
    <span class="text">Load walls</span>
  </button>
</div>
</div>
</div>
</div>
</div>